* {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #00FF41;
    text-align: justify;
    text-align-last: center;
}

.quote {
    font-size: 10px;
    display: block;
    width: 30%;
    margin-left: 35%;
}

.links {
    font-family: Papyrus;
    font-size: 15px;
}

#header {
    font-size: 50px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.headline {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

div.ingredients,
div.steps {
    margin-top: 50px;
}

img {
    height: auto;
    width: auto;
}

ul,
ol {
    display: table;
    text-align: center;
}

ul {
    list-style-type: "»";
    margin: 0 auto;
}

ol {
    margin-left: 33%;
    margin-top: 0px;
    display: flexbox;
    width: 30%;
}