* {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #00FF41;
    text-align: justify;
    text-align-last: center;
}

.quote {
    font-size: 10px;
    display: block;
    width: 30%;
    margin-left: 35%;
    
}
.headline {
    font-size: 30px;
}

.links {
    font-family: Papyrus;
    font-size: 15px;
}

ul, ol {
    display: table;
    text-align: center;
    inline-size: 30%;
}

ul {
    list-style-type: "»";
    margin: 0 auto;
}

ol {
    margin-left: 33%;
    display: flexbox;
    width: 30%;
}

#header {
    font-size: 50px;

}
img {
    height: auto;
    width: auto;        
}
