* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
}
.headline {
    font-family: fantasy;
    color: cornflowerblue;
}

img {
    height: auto;
    width: 400px;        
}

#shift {
    padding: 0px 100px;
}
#header {
    color: red;
}